<!DOCTYPE html>
<html lang="en" data-framework="angularjs">
    <head>
    <meta charset="utf-8">
    <meta name="description" content="A description about your site">
    <meta name="keywords" content="keywords, separated, by, comma">
    <title>AngularJS</title>
    <link rel="shortcut icon" href="favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" media="screen">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!--[if IE]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
                </script>
    <![endif]-->
    </head>
  
    <body ng-app="teamsmvc">
      
        <div class="container">
            <section id="main">
            <div class="row">

              <section ng-controller="Panel as panel">
                <div class="tabbable col-md-8" ng-controller="Workers">

                  <ul class="nav nav-pills">
                    <li ng-class="{ active: panel.isSelected(1)}">
                      <a href="#tags" ng-click="panel.selectTab(1)">Вкладка 1</a> 
                    </li>
                    <li ng-class="{ active: panel.isSelected(2)}">
                      <a href="#workers" ng-click="panel.selectTab(2)">Вкладка 2</a> 
                    </li>
                  </ul>

                    <div ng-show="panel.isSelected(1)">
                        <div class="tags row">
                          <div class="col-md-10">

                       <p class="danger">{{notice}}</p>
                            <div class="workersTag bg-primary pull-left" ng-repeat="workerTag in workersInTag track by $index">                
                              <a class="showDetails" tooltip data-original-title="{{workerTag.details}}" data-toggle="tooltip">
                                {{workerTag.name}}</a>
                              <a class="removeWorkerFromTag" ng-click="removeWorkerFromTag($index)">x</a>
                            </div>

                            <div>
                              <div class="clear"></div>
                              <div class="pull-left">
                              <input type="text" data-toggle="dropdown" ng-model="searchWorker" ng-options="worker for worker in workers" placeholder="Start typing">
                              {{worker.name}}
                              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li ng-repeat="worker in arrayWorkers | filter:searchWorker track by $index">
                                  <a href ng-click="addWorkerToTag(worker)">
                                    {{worker.name}}<span ng-show="worker.job!=''">, {{worker.job}}</span><span ng-show="worker.grade!=''">, {{worker.grade}}</span>
                                  </a>
                                </li>
                              </ul>
                              </div>
                            </div>

                          </div>
                          <div class="col-md-2">
                            <button ng-show="refresh" ng-click="refreshTeam()" type="button" class="btn btn-success">Refresh</button>
                          </div>
                            
                        
                        </div>
                    </div>
                  
                    <div class="tab-pane" ng-show="panel.isSelected(2)">
                      <h3>Workers</h3>
                      <p class="danger">{{notice}}</p>
                          <table id="tableWorkers" class="table table-bordered table-hover">
                            <tr class="collapseRow">
                              <th>Name</th>
                              <th>Job</th>
                              <th>Age</th>
                              <th>Grade</th>
                              <!-- <th>Delete</th> -->
                            </tr>
                            <tr ng-repeat-start="worker in arrayWorkers track by $index" data-toggle="collapse" index="$index" data-parent="#worker_accordion" href="#{{'worker_collapse'+$index+1}}">
                              
                                  <td>
                                   <a ng-click="addWorkerToTeam(worker)" class="showDetails" tooltip data-original-title="{{datails}}" data-toggle="tooltip">{{worker.name}}</a>
                                  </td>
                                  <td>{{worker.job}}</td>
                                  <td>{{worker.age}}</td>
                                  <td>{{worker.grade}}</td> 
                                 <!--  <td>
                                     <button type="button" class="close" aria-hidden="true" ng-click="removeWorker($index, worker)">&times;</button>
                                  </td> -->
                            </tr> 
                            <tr ng-repeat-end class="collapseRow">
                                <td colspan="5">
                                      <div id="{{'worker_collapse'+$index+1}}" class="panel-collapse collapse">
                                        <div class="panel-body">
                                          {{reviews}}
                                        </div>
                                      </div>
                                </td>
                            </tr>
                          </table>


                    </div>
                    
                    

                </div>


                <div class="col-md-4" ng-controller="Teams">
                <form name="Team" id="addNewTeam" role="form" class="row" submit="addTeam()" novalidate>
                    <div class="col-md-9">
                          <input type="text" id="addTeam" class="immediate-help form-control" placeholder="Add new Team" ng-model="newTeam.name" ng-pattern="/^[a-zA-Z0-9]+$/" required/>
                    </div>
                    <div class="col-md-3">
                      <button type="submit" class="btn btn-success" ng-click="addTeam()" ng-class="{invalid:!Team.$valid}">Add</button>
                      <button class="btn" ng-class="{invalid:Team.$valid}">Add</button>
                    </div>
                </form>

                    <div class="panel-group" id="team_accordion" collapse>
                      <div class="panel panel-default" ng-repeat="teamName in arrayTeams track by $index">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#team_accordion" href="#{{'team_collapse'+$index+1}}" ng-click="addTeamToTag($index)">
                              {{teamName.name}}
                            </a>
                            <button type="button" class="close pull-right" aria-hidden="true" ng-click="removeTeam($index)">&times;</button>
                          </h4>
                        </div>
                        <div id="{{'team_collapse'+$index+1}}" ng-class='{in:setTimeout($index == activeTeam,1000)}' class="panel-collapse collapse">
                          <div class="panel-body">
                            <div ng-repeat="workerInTeam in teamName.workersInTeam track by $index">
                              <span class="panel-title"> 
                                <a class="showDetails" tooltip data-original-title="{{workerInTeam.details}}" data-toggle="tooltip">{{workerInTeam.name}}</a>
                              </span>  
                              <button type="button" class="close" aria-hidden="true" ng-click="removeWorkerFromTeam($index)">&times;</button>               
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            </section>
        </div>
      <script src="js/angular-route/angular-route.js"></script>
      <script src="js/app.js"></script>
      <script src="js/controllers/controllers.js"></script>
      <script src="js/services/teams.js"></script>
      <script src="js/directives/toolpit.js"></script>
    </body>
</html>