html {
  background: #fff;
  margin: 0;
}
.clear {
  clear: both;
}
.danger {
  color: #f00;
}
.container {
  margin-top: 30px;
}
.panel-group {
  margin: 5px 0 0 0 !important;
}
#tableWorkers {
  margin-top: 30px;
}
.table-hover tbody tr {
  z-index: 1;
  position: relative;
}
.table-hover tbody tr td a {
  z-index: 3;
  position: relative;
}
.table-hover tbody tr:hover td {
  cursor: pointer;
}
.table-hover tbody tr.collapseRow td {
  height: 0;
  padding: 0;
}
.table-hover tbody tr.collapseRow:hover td {
  cursor: auto;
  background-color: #fff;
}
.table-hover tbody tr.collapseRow:hover td button {
  z-index: 2;
  position: relative;
}
.table-hover tbody tr.collapseRow:hover th {
  cursor: auto;
  background-color: #fff;
}
#addNewWorker {
  margin-top: 30px;
}
.addWorkerTitle {
  margin: 0 0 20px 20px;
}
.details_reviews {
  margin-top: 20px;
}
#detailsWorker,
#reviewWorker {
  max-width: 312px;
  max-height: 300px;
}
.red {
  background: #f00;
  height: 30px;
  width: 100px;
}
a.showDetails {
  cursor: pointer;
}
.tags {
  margin: 10px 0;
}
.dropdown-menu {
  position: relative !important;
  max-height: 300px;
  overflow: auto;
}
.workersTag {
  width: auto;
  height: auto;
  border-radius: 4px;
  padding: 3px 5px;
  margin: 10px 5px 5px 0;
}
.workersTag a {
  cursor: pointer;
  color: #fff;
}
.workersTag a:hover {
  color: #fff;
}
.workersTag a.removeWorkerFromTag:hover {
  text-decoration: none;
}
/*validation of adding new team*/
#addNewTeam input.ng-invalid:focus {
  border-color: #f00;
  box-shadow: 0 0 4px #f00;
}
#addNewTeam input.ng-valid:focus {
  border-color: #008000;
  box-shadow: 0 0 4px #008000;
}
#addNewTeam .invalid {
  display: none;
}
