html
	background white
	margin 0
.container
	margin-top 30px
.panel-group
	margin 5px 0 0 0 !important
#tableWorkers
	margin-top 30px
.table-hover 
	tbody
		tr
			z-index 1
			position relative
			td
				a
					z-index 3
					position relative	
			&:hover
				td
					cursor pointer
			&.collapseRow
				td
					height 0
					padding 0
			&.collapseRow:hover
				td
					cursor auto
					background-color white
					button
						z-index 2
						position relative								
				th
					cursor auto
					background-color white	
#addNewWorker
	margin-top 30px
.addWorkerTitle
	margin 0 0 20px 20px
.details_reviews
	margin-top 20px
#detailsWorker
#reviewWorker
	max-width 312px
	max-height 300px